@{
    ViewData["Title"] = "Home Page";
}
@model PaymentGate.Models.PaymentModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" action="/Home/CreateCheckoutSession">
    <div>
        <label for="amount">Amount: </label>
        <input type="text" id="amount" name="amount" value="" />
    </div>

    <!-- Submit button -->
    <button type="submit">Checkout</button>
</form>